# Dictionary

Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

## Dict Creation

In [1]:
#empty dictionary
y_dict = {}

# dict={key1:value1,key2:value2,...,}

In [1]:
#dictionary with integer keys, text values
#           1=key, 'user1'=value
users_dict = {1: 'user1', 2: 'user2',3:'user3'}
print(users_dict)

{1: 'user1', 2: 'user2', 3: 'user3'}

In [3]:
users_dict[1]

'user1'

In [23]:
#dictionary with text keys,text values
user_dict = {'name': 'Nilay', 'city':'Pune','email':'nilaykarade@gmail.com'}
print(user_dict)

{'name': 'Nilay', 'city': 'Pune', 'email': 'nilaykarade@gmail.com'}

In [7]:
user_dict['name']

'Nilay'

In [8]:
user_dict['city']

'Pune'

In [24]:
user_dict['designation']="AI engg."
user_dict

{'name': 'Nilay',
 'city': 'Pune',
 'email': 'nilaykarade@gmail.com',
 'designation': 'AI engg.'}

In [9]:
#dictionary with mixed types of  keys and values
user_dict = {'name': 'Nilay', 'age':20,'height':178.8,'city':'Pune','email':'nilaykarade@gmail.com'}
print(user_dict)

#movie_dict
#student
#course

{'name': 'Nilay', 'age': 20, 'height': 178.8, 'city': 'Pune', 'email': 'nilaykarade@gmail.com'}

In [18]:
#dictionary with mixed types of  keys and values
user_dict = {'name': 'Nilay', 'age':20,'is_willing_to_relocate':False,
             'skills':['Data Science','Machine Learning','Deep Learning'],
             'qualification':('Ph D', 'MCA','B Sc'),
             'contact_info':{'address':'Pune','mobile':999999999,
                             'email':'nilaykarade@gmail.com'},
             101:66
            }
print(user_dict)

#model_dic={"name":['LR',"LGR"],"params":[3ppd;kl]}

{'name': 'Nilay', 'age': 20, 'is_willing_to_relocate': False, 'skills': ['Data Science', 'Machine Learning', 'Deep Learning'], 'qualification': ('Ph D', 'MCA', 'B Sc'), 'contact_info': {'address': 'Pune', 'mobile': 999999999, 'email': 'nilaykarade@gmail.com'}, 101: 66}

In [14]:
user_dict['name']

'Nilay'

In [15]:
user_dict['skills'][1]

'ML'

In [17]:
user_dict['contact_info']['email']

'nilaykarade@gmail.com'

In [3]:
#create empty dictionary using dict()
my_dict = dict()

In [4]:
my_dict

{}

In [5]:
my_dict['id']=101
my_dict['job_role']="Teacher"
my_dict

{'id': 101, 'job_role': 'Teacher'}

In [6]:
my_dict = dict([("name", 'nilay'), ('height', 178)])    #create a dict with list of tuples
print(my_dict)

{'name': 'nilay', 'height': 178}

In [7]:
user1={'name':'aparna'}
user2={'name':'trupti'}

In [8]:
print(user2)

{'name': 'trupti'}

In [9]:
lst_users=[user1,user2]
lst_users

[{'name': 'aparna'}, {'name': 'trupti'}]

In [12]:
lst_users[1]

{'name': 'trupti'}

In [13]:
lst_users[1]['name']

'trupti'

## Dict Access

In [19]:
user_dict

{'name': 'Nilay',
 'age': 20,
 'is_willing_to_relocate': False,
 'skills': ['Data Science', 'Machine Learning', 'Deep Learning'],
 'qualification': ('Ph D', 'MCA', 'B Sc'),
 'contact_info': {'address': 'Pune',
  'mobile': 999999999,
  'email': 'nilaykarade@gmail.com'},
 101: 66}

In [12]:
print(user_dict['name'])

Nilay

In [13]:
user_dict['age']

20

In [20]:
print(user_dict['skills'])

['Data Science', 'Machine Learning', 'Deep Learning']

In [21]:
print(user_dict['skills'][1])

Machine Learning

In [22]:
print(user_dict['qualification'])

('Ph D', 'MCA', 'B Sc')

In [23]:
print(user_dict['qualification'][0])

Ph D

In [24]:
user_dict['contact_info']

{'address': 'Pune', 'mobile': 999999999, 'email': 'nilaykarade@gmail.com'}

In [25]:
user_dict['contact_info']['address']

'Pune'

In [26]:
print(user_dict['contact_info']['email'])

nilaykarade@gmail.com

In [21]:
user_dict.get('age')

20

In [27]:
user_dict.get('contact_info')

{'address': 'Pune', 'mobile': 999999999, 'email': 'nilaykarade@gmail.com'}

In [28]:
user_dict.get('contact_info').get('address')

'Pune'

In [23]:
user_dict.get('contact_info')['address']

'Pune'

In [24]:
#print other values of user_dict using get()

## Dict Add or Modify  Elements

In [29]:
user_dict

{'name': 'Nilay',
 'age': 20,
 'is_willing_to_relocate': False,
 'skills': ['Data Science', 'Machine Learning', 'Deep Learning'],
 'qualification': ('Ph D', 'MCA', 'B Sc'),
 'contact_info': {'address': 'Pune',
  'mobile': 999999999,
  'email': 'nilaykarade@gmail.com'},
 101: 66}

In [30]:
user_dict['name'] = 'Nilay Karade'
user_dict
#change age value

{'name': 'Nilay Karade',
 'age': 20,
 'is_willing_to_relocate': False,
 'skills': ['Data Science', 'Machine Learning', 'Deep Learning'],
 'qualification': ('Ph D', 'MCA', 'B Sc'),
 'contact_info': {'address': 'Pune',
  'mobile': 999999999,
  'email': 'nilaykarade@gmail.com'},
 101: 66}

In [31]:
#change value of 'data science' to  'data science  & analytics'
user_dict['skills']

['Data Science', 'Machine Learning', 'Deep Learning']

In [32]:
user_dict['skills'][0]

'Data Science'

In [33]:
user_dict['skills'][0]="Data Science & Analytics"
user_dict

{'name': 'Nilay Karade',
 'age': 20,
 'is_willing_to_relocate': False,
 'skills': ['Data Science & Analytics', 'Machine Learning', 'Deep Learning'],
 'qualification': ('Ph D', 'MCA', 'B Sc'),
 'contact_info': {'address': 'Pune',
  'mobile': 999999999,
  'email': 'nilaykarade@gmail.com'},
 101: 66}

In [34]:
user_dict['skills'].append("Artificial Int.")
user_dict

{'name': 'Nilay Karade',
 'age': 20,
 'is_willing_to_relocate': False,
 'skills': ['Data Science & Analytics',
  'Machine Learning',
  'Deep Learning',
  'Artificial Int.'],
 'qualification': ('Ph D', 'MCA', 'B Sc'),
 'contact_info': {'address': 'Pune',
  'mobile': 999999999,
  'email': 'nilaykarade@gmail.com'},
 101: 66}

In [35]:
user_dict['contact_info']['mobile'] = 888888888
user_dict

{'name': 'Nilay Karade',
 'age': 20,
 'is_willing_to_relocate': False,
 'skills': ['Data Science & Analytics',
  'Machine Learning',
  'Deep Learning',
  'Artificial Int.'],
 'qualification': ('Ph D', 'MCA', 'B Sc'),
 'contact_info': {'address': 'Pune',
  'mobile': 888888888,
  'email': 'nilaykarade@gmail.com'},
 101: 66}

In [28]:
# modify age, skills, mobile number

## Dict Delete or Remove Element

In [36]:
user_dict.pop('age')
user_dict

{'name': 'Nilay Karade',
 'is_willing_to_relocate': False,
 'skills': ['Data Science & Analytics',
  'Machine Learning',
  'Deep Learning',
  'Artificial Int.'],
 'qualification': ('Ph D', 'MCA', 'B Sc'),
 'contact_info': {'address': 'Pune',
  'mobile': 888888888,
  'email': 'nilaykarade@gmail.com'},
 101: 66}

In [37]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur',"contact_no":99999}
print(my_dict)
my_dict.popitem()
print(my_dict)

{'name': 'satish', 'age': 27, 'address': 'guntur', 'contact_no': 99999}
{'name': 'satish', 'age': 27, 'address': 'guntur'}

In [38]:
my_dict.popitem()
print(my_dict)

{'name': 'satish', 'age': 27}

In [45]:
#deleting from dictionalry 

squares = {2: 4, 3: 9, 4: 16, 5: 25}
print(squares)
squares.popitem()
print(squares)
squares.popitem()
print(squares)
squares.popitem()
print(squares)
squares.popitem()
print(squares)

{2: 4, 3: 9, 4: 16, 5: 25}
{2: 4, 3: 9, 4: 16}
{2: 4, 3: 9}
{2: 4}
{}

In [46]:
#error wil occur as no more items are left in the dictionary
squares.popitem()

KeyError: 'popitem(): dictionary is empty'

In [33]:
#remove all items
squares = {2: 4, 3: 9, 4: 16, 5: 25}
print(squares)
squares.clear()
print(squares)

{2: 4, 3: 9, 4: 16, 5: 25}
{}

In [34]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete dictionary itself
del squares

print(squares) #NameError because dict is deleted

NameError: name 'squares' is not defined

## Dictionary Methods

In [31]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [36]:
#fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
subjects = {}.fromkeys(['Math', 'Science', 'Social Science'], 0)
print(subjects)

{'Math': 0, 'Science': 0, 'Social Science': 0}

In [37]:
#fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
subjects = {}.fromkeys(['Math', 'Science', 'Social Science'],40)
print(subjects)

{'Math': 40, 'Science': 40, 'Social Science': 40}

In [38]:
#fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
subjects = {}.fromkeys(['Math', 'Science', 'Social Science'],[40,45,67])
print(subjects)

{'Math': [40, 45, 67], 'Science': [40, 45, 67], 'Social Science': [40, 45, 67]}

In [39]:
squares = {2:4, 3:9, 4:16, 5:25}
print(squares.items()) #return a new view of the dictionary items (key, value)
print(type(squares.items()))

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])
<class 'dict_items'>

In [40]:
squares = {2:4, 3:9, 4:16, 5:25}
print(squares.keys()) #return a new view of the dictionary keys
print(type(squares.keys()))

dict_keys([2, 3, 4, 5])
<class 'dict_keys'>

In [41]:
squares = {2:4, 3:9, 4:16, 5:25}
print(squares.values()) #return a new view of the dictionary values

dict_values([4, 9, 16, 25])

In [48]:
dir(squares)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [49]:
name="nilay"
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Dict Comprehension

In [1]:
#Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a': 1, 'b': 2, 'c': 3}
for pair in d.items():
    print(pair)
    #print(type(pair))

('a', 1)
<class 'tuple'>
('b', 2)
<class 'tuple'>
('c', 3)
<class 'tuple'>

In [44]:
for v in d.values():
    print(v)

1
2
3

In [45]:
for k in d.keys():
    print(k)

a
b
c

In [48]:
d = {'a': 1, 'b': 2, 'c': 3}
for i in d.items():#(k,y)
    print("Key = ",i[0]," Value = ",i[1])

Key =  a  Value =  1
Key =  b  Value =  2
Key =  c  Value =  3

In [49]:
d = {'a': 1, 'b': 2, 'c': 3}
for k,v in d.items():#(k,y)
    print("Key = ",k," Value = ",v)

Key =  a  Value =  1
Key =  b  Value =  2
Key =  c  Value =  3

In [50]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
c=d.copy()
c

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [51]:
num=[1,2,3,4,5]
sq=[i**2 for i in num]
sq

[1, 4, 9, 16, 25]

In [52]:
#Comprehension

In [53]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items()}
new_dict
#new_d=d.copy()

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [54]:
#Creating a new dictionary with only pairs where the 
#value is larger than 2
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v > 2}
print(new_dict)

{'c': 3, 'd': 4}

In [55]:
#Creating a new dictionary with only pairs where the 
#value is larger than 2
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v % 2==0}
print(new_dict)

{'b': 2, 'd': 4}

In [2]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
new_d = {k + 'c':v * 2 for k, v in d.items()}
print(new_d)

{'ac': 2, 'bc': 4, 'cc': 6, 'dc': 8, 'ec': 10}

In [3]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
new_d = {k + 'c':v ** 2 for k, v in d.items()}
print(new_d)

{'ac': 1, 'bc': 4, 'cc': 9, 'dc': 16, 'ec': 25}

In [18]:
lst=list()

In [22]:
lst=list([1,2,3,4])
lst

[1, 2, 3, 4]

In [19]:
type(lst)

list

In [24]:
t=tuple((1,2,3,4))
t

(1, 2, 3, 4)

In [40]:
lst=list([1,2,3,4])
lst

[1, 2, 3, 4]

In [41]:
l2=lst.copy()

In [42]:
l2[0]=1000

In [43]:
l2

[1000, 2, 3, 4]

In [44]:
lst

[1, 2, 3, 4]